[Desktop Entry]
Version=1.0
Type=Application
Name=KiteViewer
GenericName=KiteViewer
Comment=Viewer for airborne wind energy systems
Exec=@APPDIR@/kiteviewer.sh
Categories=Development;Science;
Icon=gnome-calculator
Terminal=false
StartupNotify=true
